@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&family=Source+Sans+Pro&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  width: 70px;
  height: 70px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 900px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}

th, td {
  width: 150px;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}

th {
  background-color: #f8fcff;
  border: 2px solid #dddddd;
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
}

td {
  padding: 12px;
  border: 1px solid #dddddd;
}

.flex {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.highlight {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.highlight:hover {
  background-color: #f8fcff;
}

h1 {
  font-family: 'Silkscreen', cursive;
  font-size: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  margin: 0;
  padding-top: 40px;
}

#header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pokeball {
  position: relative;
  top: 48px;
  left: 20px;
  display: inline;
  width: 50px;
  height: 50px;
  margin: 0;
}

.nav-btn {
  list-style-type: none;
  font-size: 1.2em;
  position: relative;
  top: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  height: 50px;
  width: 140px;
  background-color: #fff;
  padding: 0 10px 0 10px;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#nav-elements {
  margin: 0;
  padding: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1300px;
}

main {
  position: relative;
  top: 70px;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 1;
}

.nav-btn:hover {
  background-color: #fafafae3;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.info {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4em;
  width: 800px;
}

#wooper {
  width: 200px;
  height: 162px;
  border: 9px double #000;
  padding: 10px;
  -webkit-box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: #000 2px solid;
  font-size: 2.5em;
}

#home {
  width: 1250px;
}

#crediting li {
  font-size: 1.4em;
  font-family: 'Source Sans Pro', sans-serif;
}
/*# sourceMappingURL=styles.css.map */