@import url("https://use.typekit.net/zmr3gei.css");
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;600&display=swap');

$font1: "myriad-pro", sans-serif;
$font2: 'Ysabeau Infant', sans-serif;

#title {
    font-family: $font1;
    font-style: normal;
    letter-spacing: 2px;
    margin-top: 120px;
    text-align: center;
    font-size: 8vw;
    user-select: none;
    text-shadow: 4px 4px #00000032;
}

#Layer_1 {
    width: 600px;
}

.flex {
    display: flex;
    justify-content: center;
}

.filler {
    border: double #000 12px;
    background-color: #fff;
}

#kw {
    width: 170px;
}

#int {
    position: relative;
    padding: 15px;
}

#key {
    padding: 15px;
}

#images {
    margin-top: 250px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

#int, #key, #kw { 
    box-shadow: 7px 7px 13px 2px rgba(100, 100, 100, 0.2);
    z-index: 1;
    user-select: none;
}

#schools, #about {
    text-shadow: 4px 4px #00000032;
    font-family: $font1;
    font-size: 5vw;
    border-bottom: 12px double #000;
    width: 80vw;
    position: relative;
    left: 100px;
    user-select: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.schools {
    font-family: $font2;
    font-size: 2vw;
    position: relative;
    left: -150px;
    user-select: none;
    list-style-type: none;
}

.schools:before {
    content: "⭐";
    margin: 0 0.3em;
}

#info {
    font-family: $font1;
    font-size: 1vw;
    position: flex;
    align-items: center;
    width: 30vw;
    height: 27vh;
    background-color: #fafafa;
    border: double 9px #000;
    padding: 0 0 0 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 20px 50px 100px 10px;
    transition: 0.3s;
}

#info:hover {
    border: 12px double #000;
    box-shadow: rgba(57, 57, 62, 0.25) 2px 5px 10px 5px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#division {
    display: flex;
    justify-content: space-evenly;
}

#about {
    text-shadow: 2px 2px #00000032;
    font-size: 4vw;
    width: 70vw;
}

.info-paragraph {
    font-size: 1.5vw;
    font-family: $font2;
    position: relative;
    left: 80px;
    width: 70vw;
} 

#sign-up {
    border: double 9px #000;
    padding: 10px;
    width: 80vw;
    position: relative;
    left: 80px;
    background-color: #ffffff;
    box-shadow: rgba(121, 121, 125, 0.25) 2px 5px 10px 5px;
}

#sign-up li {
    position: relative;
    left: 30px;
}

.emphasis {
    width: 80vw;
    font-size: 1.5vw;
    font-family: $font2;
    text-align: center;
}

#body-info {
    position: relative;
    left: 50px;
}

@media screen and (max-width: 1130px) {
    #images {
        display: none;
    }

    #schools {
        margin-top: 90px;
    }

    .schools {
        left: -80px;
    }
}

@media screen and (max-width: 1070px) {
    #info {
        height: 20vh;
    }

    #sign-up {
        width: 85vw;
    }

    .emphasis, .info-paragraph {
        font-size: 2vw;
    }
}

@media screen and (max-width: 970px) {
    .emphasis, .info-paragraph {
        font-size: 2.3vw;
    }

    .schools {
        left: -60px;
    }
}

@media screen and (max-width: 840px) {
    #info {
        padding: 10px;
        height: 150px;
        font-size: 1.2vw;
    }

    .schools {
        left: -40px;
    }
}

@media screen and (max-width: 680px) {
    #Layer_1 {
        width: 450px;
    }

    #sign-up {
        width: 75vw;
    }

    #sign-up li {
        width: 60vw;
        line-height: 25px;
    }

    .schools {
        font-size: 2.4vw;
    }

    .emphasis, .info-paragraph {
        font-size: 2.8vw;
    }

    #body-info {
        left: 20px;
    }

    #schools, #about {
        left: 80px;
    }
}

@media screen and (max-width: 560px) {
    .schools {
        left: -50px;
        font-size: 2.8vw;
    }

    .emphasis, .info-paragraph {
        font-size: 3vw;
    }

    #info {
        display: none;
    }

    #Layer_1 {
        width: 350px;
    }

    #schools {
        margin-top: 50px;
    }

    #about {
        width: 80%;
    }

    #schools, #about {
        font-size: 4.5vw;
    }

    #sign-up {
        left: 40px;
    }

    #schools {
        text-shadow: 2px 2px #00000032 !important;
    }
}

@media screen and (max-width: 500px) {
    .schools {
        font-size: 3.2vw;
        left: -80px;
    }

    #schools, #about {
        font-size: 5vw;
        left: 40px;
    }

    .emphasis, .info-paragraph {
        font-size: 3.3vw;
    }

    #body-info {
        left: -20px;
    }
}

@media screen and (max-width: 440px) {
    .schools {
        font-size: 3.5vw;
    }

    #schools, #about {
        font-size: 5vw;
    }

    .emphasis, .info-paragraph {
        font-size: 3.6vw;
    }

    #sign-up {
        width: 80vw;
    }
}

@media screen and (max-width: 390px) {
    #Layer_1 {
        width: 250px;
    }

    .schools {
        font-size: 4vw;
        left: -50px;
    }

    #schools, #about {
        font-size: 6vw;
    }

    .emphasis, .info-paragraph {
        font-size: 4vw;
    }
}